body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    position: relative;
    perspective: 500px;
    width: 180px;
    height: 300px;
}
.inside {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    cursor: pointer;
}
.loading {
    width: 30px;
    height: 30px;
    background: url(./img/loading.svg) cover;
}
.door {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    background-color: #733e1d;
    border: 2px solid #4f290d;
    box-shadow: #4f290d 2px 2px 4px 0px inset, #4f290d -2px -2px 4px 0px inset;
    outline: 4px solid #733e1d;
    font-size: 1.4em;
    color: #ba794e;
    transition: 0.5s;
    transform-origin: right;
    cursor: pointer;
}
.top-win {
    display: flex;
    width: 80%;
    height: 30%;
    gap: 10%;
}
.bottom-win {
    display: flex;
    width: 80%;
    height: 50%;
    gap: 10%;
}
.win1 {
    width: 100%;
    height: 100%;
    box-shadow: #4f290d 3px 3px 6px 0px inset, #4f290d -3px -3px 6px 0px inset;
}
.win2 {
    width: 100%;
    height: 100%;
    box-shadow: #4f290d 3px 3px 6px 0px inset, #4f290d -3px -3px 6px 0px inset;
}
.handle {
    margin-top: 10%;
    margin-right: 70%;
    float: left;
    text-align: left;
    display: block;
}
.cont-card {
    position: relative;
    padding: 40px;
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    perspective: 500px;
}
.card {
    width: 100px;
    height: 150px;
    border-radius: 10px;
    margin: 0 auto;
    transform: rotateY(0deg);
    transition: .7s;
    transform-style: preserve-3d;
}
.card-side {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.2em;
    font-size: 2rem;
    backface-visibility: hidden;
}
.card-side-front {
    background-size: cover;
    transform: rotateY(180deg);
}

.card-side-back {
    color: white;
    background-image: url(./img/card-back.png);
    background-size: cover;
    z-index: 1;
}
.card:hover {
    transform: rotateY(-180deg);
}


@keyframes ldio-7ah74gfq78m {
    0% { transform: translate(-50%,-50%) rotate(0deg); }
    100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-7ah74gfq78m div {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 5px solid #e3e3e3;
    border-top-color: transparent;
    border-radius: 50%;
    animation: ldio-7ah74gfq78m 1s linear infinite;
    /* top: 50px; */
    /* left: 50px */
}
.loadingio-spinner-rolling-ihvuzwg9zf {
    /* width: 50px; */
    /* height: 50px; */
    display: inline-block;
    overflow: hidden;
    background: none;
}